{% extends 'entry/base.html.twig' %}

{% block spoiler %}spoiler{% endblock %}

{% block body %}
<div class="center_div ; font_size_paragraph ; background_div_transparent" style="padding: 0.3em;">La fin "Soi-même", qui est une
    variation de la fin "Rupture de l'espace-temps", a été ajouté dans le patch 1.0.4. Depuis ce patch, il est
    possible de traverser le trou noir dans le noyau de la Sablière Noire, qui s'ouvre lorsque le soleil devient une
    supernova, et cause alors un paradoxe. La boucle se terminera et le protagoniste se réveillera au <a
            class="highlight" href="../../gameplay/game/feu_camp.html">feu de camp</a>, comme à l'accoutumé. Pendant
    cette nouvelle boucle, il y a deux points "Vous êtes ici" sur la carte stellaire fournit avec la <a
            class="highlight" href="../../gameplay/tech/combi_spatial.html">combinaison spatiale</a>. Un des deux se
    situe dans le <a class="highlight" href="../../gameplay/tech/projet_sab_noire.html">projet Sablière Noire</a>.
    Là-bas, une copie du protagoniste peut être trouvée, un PNJ nommé "Self", près du mur ayant tous les dialogues du
    projet inscrits dessus, qui a été transporté dans le temps avec ses souvenirs.
    <figure style="float: right;">
        <img src="{{ asset('/images/self.png') }}" alt="self">
        <figcaption style="text-align: right;"><span>Self adossé au mur du </span><a class="highlight" href="../../gameplay/tech/projet_sab_noire.html">Projet Sablière Noire</a>
        </figcaption>
    </figure>
    <br>
    <br>
    Après le choc initial de la situation, Self se demandera ce qu'il se passera si son lui-même du passé (Le
    protagoniste) ne saute pas dans le trou noir et ferme la boucle causale qui a été créé. Si le joueur saute à
    nouveau dans le trou noir, la boucle recommencera encore une fois comme la première fois, mais avec un nouveau
    dialogue entre Self et le protagoniste (On parle avec un nouveau Self, le protagoniste de notre précédente
    boucle). Cependant, si le joueur ne resaute pas dans le trou noir et qu'il meurt (Ou bien finit la boucle d'une
    quelconque manière), alors Self ne peut pas exister, puisqu'il se trouve dans le projet Sablière Noire grâce au
    protagoniste qui a sauté dans le trou noir. Parce que l'existence de Self a été retiré, un paradoxe est créé où
    Self n'a aucun point d'origine, ce qui cause une <a class="highlight" href="break_ending.html">rupture de
        l'espace-temps.</a> La sauvegarde est réinitialisée au début de la boucle dans laquelle le joueur plonge
    pour la première fois dans le trou noir, annulant le paradoxe. Cette fin arrive même si le joueur ne fait pas la
    rencontre de Self.
    <br>
    <br>
    Même si le joueur va à l'œil de l'univers dans la boucle après être entré dans le trou noir, la rupture de
    l'espace-temps arrive tout de même. Si le soleil se transforme en supernova (Bien que la possibilité que le
    protagoniste saute dans le trou noir pour corriger le problème d'espace-temps soit supprimé), la fin "Soi-même"
    est tout de même joué. Quand la sauvegarde est relancée, le joueur revient dans le vaisseau Nomaï, en face de
    l'œil de l'univers, bloqué dans la boucle où se produit la fin "Soi-même". Pour éviter ce problème, le joueur
    doit sauter dans le vortex au pôle Sud de l'œil et arriver dans le musée, initialisant alors la <a
            class="highlight" href="eotu_ending.html">fin "L'œil de l'univers".</a>
    <br>
    <br>
    Bien que cette fin soit destinée à être permanente, le joueur peut reprendre sa sauvegarde et continuer comme
    s'il venait de mourir dans la boucle où il a brisé l'espace-temps.
{% endblock %}