{% extends 'category/base.html.twig' %}

{% block intro_text %}
    Lors de votre exploration d'Outer Wilds, plusieurs obstacles pourront se dresser sur votre chemin.
    Ces mécaniques de gameplay pourront être contrés par diverses technologies : Le petit guetteur,
    l'onduloscope, ou encore la fusée, pour ne citer qu'eux. En utilisant correctement ces mécaniques de gameplay, ils
    vous permettront de progresser dans l'histoire et ainsi atteindre une des fins d'Outer Wilds.
{% endblock %}
{% block intro_subtext %}
    Voici donc les mécaniques de gameplay vous accompagnant dans votre aventure, classées dans l'ordre alphabétique :
{% endblock %}
{% block tech_entry %}
    <li>
        <a href="{{ path('app_category', {category_name: 'technologies'}) }}">Technologies</a>
    </li>
    <li>-----</li>
{% endblock %}