html, body {
    --background-color: rgb(11, 30, 38);
    --orange: rgb(255, 124, 37);
    --turquoise: rgb(21, 205, 187);
    margin: 0 auto;
    font-size: 1.5em;
    display: flex;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--turquoise);
}

a:visited {
    color: rgb(99, 42, 100);
}

body {
    flex-direction: column;
    font-family: "Josefin Sans", serif;
    color: white;
    background-color: var(--background-color);
    background-image: url(../images/mobile_background.webp);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 1em;
}

#spoiler {
    background-image: url(../images/mobile_background_spoiler.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.background_div {
    background-color: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--background-color);
    padding: 0.5em;
    margin: 1.5em;
}

.background_div_transparent {
    background-color: rgba(var(--background-color), 0.7);
    border-radius: 20px;
    border: 1px solid var(--background-color);
}

.center_text {
    text-align: center;
}

.highlight {
    color: var(--orange);
}

.highlight_turquoise {
    color: var(--turquoise);
}

.title {
    font-size: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline overline;
    text-decoration-color: var(--orange);
}

#entries_list {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(11, 30, 38, 0.5);
    list-style-type: none;
    border-radius: 10px;
}

#entries_list > li {
    margin: 0.5em;
}

.font_size_title {
    font-size: 3em;
}

.font_size_subtitle {
    font-size: 2em;
}

/* index.php */

header, img[src$="main_logo.png"] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
    width: 20%;
    margin: auto;
}

#category {
    width: 500px;
}

#categories {
    background-color: rgba(11, 30, 38, 0.7);
    border-radius: 20px;
    border: 1px solid var(--background-color);
    padding: 0.5em;
    margin: 1.5em;
}

#categories a {
    text-decoration: underline;
    text-decoration-color: var(--turquoise);
    color: var(--orange);
}

@media screen and (min-width: 900px) {

    body {
        background-image: url(../images/background_image.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    body[id="spoiler"] {
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", serif;
        color: white;
        background-color: var(--background-color);
        background-image: url(../images/background_image_spoiler.png);
        background-size: cover;
        background-attachment: fixed;
    }

    .background_div {
        background-color: var(--background-color);
        margin: 2%;
        padding: 1%;
        text-align: justify;
        border-radius: 20px;
        border: 1px solid var(--background-color);
    }

    /* index.php */

    #introduction {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    #about {
        margin-top: 0;
    }

    #useful_infos {
        margin-top: 0;
    }

    img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
        width: 20%;
    }

    #categories {
        display: flex;
        flex-direction: row;
    }

    #categories figure {
        justify-content: center;
        width: 100%;
    }

    #category {
        width: 200px;
    }

    #category ~ figcaption {
        font-size: 1.5em;
    }

}
