html, body {
    --background-color: rgb(11, 30, 38);
    --orange: rgb(255, 124, 37);
    --turquoise: rgb(21, 205, 187);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--turquoise);
}

a:visited {
    color: rgb(99, 42, 100);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", serif;
    color: white;
    background-color: var(--background-color);
    background-image: url(../images/mobile_background.webp);
    background-size: cover;
    background-attachment: fixed;
}

body[id="spoiler"] {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", serif;
    color: white;
    background-color: var(--background-color);
    background-image: url(../images/mobile_background_spoiler.jpg);
    background-size: cover;
    background-attachment: fixed;
}

img[src$="main_logo.png"] {
    max-width: 80%;
}

img[src$="main_logo_dlc.png"] {
    max-width: 70%;
}

.background_div {
    background-color: var(--background-color);
    text-align: justify;
    border-radius: 20px;
    border: 1px solid var(--background-color);
}

.background_div_transparent {
    background-color: rgba(11, 30, 38, 0.7);
    text-align: justify;
    border-radius: 20px;
    border: 1px solid var(--background-color);
}

.center_text {
    text-align: center;
}

.font_size_paragraph {
    font-size: 20px;
}

.font_size_subtitle {
    font-size: 30px;
}

.font_size_title {
    font-size: 48px;
}

.highlight {
    color: var(--orange);
}

.title {
    font-size: 48px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline overline;
    text-decoration-color: var(--orange);
}

.white {
    color: white;
}

.contents {
    display: contents;
}

.flex {
    display: flex;
    flex-direction: column;
}

#entries_list {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(11, 30, 38, 0.5);
    list-style-type: none;
    border-radius: 10px;
}

#entries_list > li {
    margin: 0.5em;
}

/* index.php */

header, img[src$="main_logo.png"] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
    width: 20%;
    margin: auto;
}

img[alt="endings"], img[alt="planets"], img[alt="species"], img[alt="achievements"] {
    width: 90%;
}

img[alt="musics"] {
    width: 70%;
}

img[alt="characters"] {
    width: 100%;
}


@media screen and (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", serif;
        color: white;
        background-color: var(--background-color);
        background-image: url(../images/background_image.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    body[id="spoiler"] {
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", serif;
        color: white;
        background-color: var(--background-color);
        background-image: url(../images/background_image_spoiler.png);
        background-size: cover;
        background-attachment: fixed;
    }

    .background_div {
        background-color: var(--background-color);
        margin: 2%;
        padding: 1%;
        text-align: justify;
        border-radius: 20px;
        border: 1px solid var(--background-color);
    }

    /* index.php */

    img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
        width: 20%;
    }

    img[alt="planets"], img[alt="species"], img[alt="achievements"] {
        width: 100%;
    }

    img[alt="musics"] {
        width: 150%;
    }

    img[alt="characters"] {
        width: 100%;
    }

    img[alt="endings"] {
        width: 200%;
    }

    div[id="links1"], div[id="links2"] {
        display: flex;
        flex-direction: row;
    }

    section[id="infos"] {
        flex-direction: row;
    }

    div[id="infos1"] {
        flex-direction: column;
    }

    div[id="infos2"] {
        margin: 0;
    }

    div[id="welcome"] {
        margin: 0;
    }

}

@media screen and (min-width: 1024px) {

    /* index.php */

    img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
        width: 25%;
    }

    img[alt="planets"], img[alt="species"], img[alt="achievements"] {
        width: 80%;
    }

    img[alt="musics"] {
        width: 100%;
    }

    img[alt="characters"] {
        width: 100%;
    }

    img[alt="endings"] {
        width: 100%;
    }

    div[id="maintenance"] {
        width: 700px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {

    /* index.php */

    img[alt="epic"], img[alt="steam"], img[alt="xbox"], img[alt="playstation"] {
        width: 7%;
    }

    div[id="welcome"] {
        width: 1000px;
        margin: 0;
    }

    div[id="about"] {
        width: 1000px;
        margin: 0;
        padding: 0;
    }

    div[id="infos2"] {
        margin: 0;
        padding: 0;
    }

    div[id="maintenance"] {
        margin-inline: auto;
    }

    img[alt="planets"], img[alt="species"], img[alt="achievements"] {
        width: 80%;
    }

    img[alt="musics"] {
        width: 60%;
    }

    img[alt="characters"] {
        width: 100%;
    }

    img[alt="endings"] {
        width: 70%;
    }

    img[alt="gameplay"] {
        width: 200%;
    }
}