<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Outer Wilds Wiki {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="icon" href="{% block icon %}{% endblock %}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
