<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Outer Wilds Wiki</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="icon" href="{% block icon %}{% endblock %}">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <meta media="screen" name="viewport">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body id='{% block spoiler %}{% endblock %}'>
        {% block body %}{% endblock %}
    </body>
</html>
